doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Package Details
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='/stylesheets/style1.css', rel='stylesheet', type='text/css', media='all')
    link(rel="stylesheet" href="/stylesheets/font-awesome.min.css" type='text/css', media='all')
    // bootstrap-css
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    link(href='/stylesheets/package-details.css', rel='stylesheet', type='text/css', media='all')
    
  body
    include header.pug

    .container
      .row.header.well
        .col-md-12
          img(src='http://via.placeholder.com/1800x800', alt='')
      .row.well
        .col-md-8
          div.heading #{location}
        .col-md-4 
          .row.socialIcons
            .text-right.col-xs-4
              a(style="font-size:2.0em").social-button.twitter(href='#')
                i.fa.fa-twitter
            .text-right.col-xs-4
              a(style="font-size:2.0em").social-button.facebook(href='https://www.facebook.com/tripinline')
                i.fa.fa-facebook
            .text-right.col-xs-4
              a(style="font-size:2.0em").social-button.instagram(href='https://www.instagram.com/tripinline')
                i.fa.fa-instagram

      .row.new-row.well
        .col-md-8 
          div  #{startDate} - #{endDate} (#{timeFrame})
        

      .row.new-row.well
          .col-md-12
            .heading Overview
            .row
              .col-md-8.overview-text
                p.lead #{overview} 
              .col-md-1
              .col-md-3.col-xs-12.overview-text.label.label-info.text-uppercase
                p #{notes}
          
      .row.well
        .col-md-12
          .infographics
            .row
              each element in infographics
                .col-md-2.col-xs-6
                  -var src = 'images/reiconpack/'+element+'.png'
                     img(src=src)
                
            

      .row.new-row.container.well
        ul.timeline
          each day in itinerary
                li
                  .timeline-badge
                  .timeline-panel.panel
                    .timeline-heading.panel-heading.strong
                      h4.timeline-title Day#{itinerary.indexOf(day)+1}
                    .timeline-body.panel-body
                      ul
                        each item in day
                          li=item


      .row.new-row.well
        .col-md-5.panel
          .heading.panel-heading Inclusive
            ul.panel-body
              each val in inclusive
                li=val
        .col-md-1
        .col-md-5.panel
          .heading.panel-heading Exclusive
            ul.panel-body
              each val in exclusive
                li=val


      .row.new-row.well
        .col-md-6
        .col-md-6
         .row
          .col-md-3.col-xs-5
            button.btn.btn-info Post a Query
          .col-md-3.col-xs-5
            a(href="/users/paytm")
              button.btn.btn-primary Book Now Rs #{price}
              
               

    //footer
    include footer.pug
    
    

    